* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace; }

html, body, #app {
  height: 100%; }

.start-page {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../images/bg.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.6; }
  .start-page__main-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .start-page__play-button {
    display: block;
    position: relative;
    margin-bottom: 40px;
    text-transform: uppercase;
    width: 300px;
    padding: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    font-weight: bold; }
    .start-page__play-button:last-child {
      margin-bottom: 0; }
    .start-page__play-button:hover {
      background-color: black;
      color: white; }
    .start-page__play-button--back-to-start {
      left: 50%;
      transform: translateX(-50%);
      margin-top: 40px; }

.recipe-page {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(12, 12, 12, 0.35);
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center; }
  .recipe-page__header {
    text-align: left;
    font-family: "Playfair Display", serif; }
  .recipe-page__header-title {
    text-transform: capitalize;
    margin: 20px 0; }
  .recipe-page__title {
    text-align: left;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 22px; }
  .recipe-page__ingredients {
    list-style-type: none;
    text-align: left;
    margin: 10px 0;
    line-height: 1.4em; }
  .recipe-page__realization {
    margin: 20px 0; }
  .recipe-page__recipe {
    width: 600px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    background-color: white;
    border: 2px solid white; }
  .recipe-page__button {
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    text-transform: capitalize;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold; }
    .recipe-page__button:hover {
      box-shadow: 0 0 0 2px black;
      background-color: white;
      color: black; }
  .recipe-page__header-img {
    width: 400px;
    box-shadow: 0 2px 13px grey; }

.game {
  width: 100%;
  position: relative;
  background-size: cover;
  overflow: hidden;
  padding: 60px 0;
  min-height: 100%; }
  .game--dinner {
    background-image: url("../images/dinner.jpeg"); }
  .game--breakfast {
    background-image: url("../images/breakfast1.jpeg"); }
  .game--dessert {
    background-image: url("../images/desserts.jpeg"); }
  .game__board {
    position: relative;
    top: 50%;
    left: 0;
    margin: 60px auto 0 auto;
    max-width: 1300px;
    text-align: center; }
  .game__board-bg {
    background-color: rgba(255, 255, 255, 0.52);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }
  .game__card {
    width: 280px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white; }
    .game__card:last-child {
      margin-right: 0; }
  .game__turn-over-card-wrapper {
    width: 280px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    background-color: white; }
    .game__turn-over-card-wrapper:last-child {
      margin-right: 0; }
  .game__turn-over-card {
    width: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.recipes-list {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  position: relative; }
  .recipes-list__wrapper {
    width: 100%;
    padding: 20px 0;
    background-color: white;
    cursor: pointer; }
    .recipes-list__wrapper:hover {
      background-color: black;
      color: white;
      box-shadow: inset 0 0 0 5px white; }
  .recipes-list__title {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 20px; }
  .recipes-list__counter {
    display: inline-block;
    font-size: 33px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold; }
  .recipes-list__content {
    position: absolute;
    left: 0;
    list-style-type: none;
    z-index: 1;
    text-transform: uppercase;
    width: 100%;
    box-shadow: inset 0 0 0 5px white;
    border-top: 5px solid white;
    padding: 20px 0;
    background-color: black;
    color: white;
    font-size: 25px; }
  .recipes-list__recipe {
    cursor: pointer;
    margin: 0 auto;
    padding: 10px; }
    .recipes-list__recipe:hover {
      background-color: white;
      color: black; }
