* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace; }

.start-page {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../images/bg.jpeg");
  background-size: cover;
  background-position: center; }
  .start-page__main-menu {
    position: relative;
    height: 100%; }
  .start-page__play-button {
    display: block;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
    text-transform: uppercase;
    width: 300px;
    padding: 20px;
    cursor: pointer; }

.recipe-page {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.65);
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center; }
  .recipe-page__header {
    text-align: left;
    font-family: "Playfair Display", serif; }
  .recipe-page__header-title {
    text-transform: capitalize;
    margin: 20px 0; }
  .recipe-page__title {
    text-align: left;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 22px; }
  .recipe-page__ingredients {
    list-style-type: none;
    text-align: left;
    margin: 10px 0;
    line-height: 1.4em; }
  .recipe-page__realization {
    margin: 20px 0; }
  .recipe-page__recipe {
    width: 700px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    background-color: #f6e0e0;
    border-radius: 5%; }
  .recipe-page__button {
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    text-transform: capitalize;
    background-color: white;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold; }
    .recipe-page__button:hover {
      background-color: #b4e9ad; }
  .recipe-page__header-img {
    width: 400px; }

.game {
  width: 100%;
  position: relative;
  background-image: url("../images/dinner.jpeg");
  background-size: cover;
  overflow: hidden;
  padding-bottom: 60px; }
  .game__board {
    position: relative;
    top: 50%;
    left: 0;
    margin: 0 auto;
    max-width: 1300px;
    text-align: center; }
  .game__card {
    width: 280px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: rgba(251, 241, 229, 0.81);
    border-radius: 5%; }
    .game__card:last-child {
      margin-right: 0; }
  .game__turn-over-card-wrapper {
    width: 280px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    overflow: hidden; }
    .game__turn-over-card-wrapper:last-child {
      margin-right: 0; }
  .game__turn-over-card {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5%; }

.recipes-list {
  text-align: center;
  margin: 0 auto;
  width: 1000px;
  padding: 40px 0; }
  .recipes-list__title {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 20px;
    cursor: pointer; }
  .recipes-list__counter {
    display: inline-block;
    font-size: 30px; }
