$main-font: 'Source Code Pro', monospace;
$secondary-font: 'Playfair Display', serif;

$line-height: 1.4em;

$common-padding: 20px;

$button-width: 300px;

$card-width: 280px;
$card-height: 200px;
$card-border-radius: 5%;

$hover-bg-color: #e0f3de;;