.game {
  width: 100%;
  position: relative;
  background-image: url("../images/dinner.jpeg");
  background-size: cover;
  overflow: hidden;
  padding: $common-padding*3 0;

  &__board {
    position: relative;
    top: 50%;
    left: 0;
    margin: $common-padding*3 auto 0 auto;
    max-width: 1300px;
    text-align: center;
  }

  &__card {
    width: $card-width;
    height: $card-height;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: rgba(251, 241, 229, 0.81);;
    border-radius: $card-border-radius;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

  }

  &__turn-over-card-wrapper {
    width: $card-width;
    height: $card-height;
    display: inline-block;
    margin: 10px;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }
  }

  &__turn-over-card {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: $card-border-radius;

  }
}