.game {
  width: 100%;
  position: relative;
  background-image: url("../images/dinner.jpeg");
  background-size: cover;

  &__board {
    position: relative;
    top: 50%;
    left: 0;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
  }

  &__card {
    width: $card-width;
    height: $card-height;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: white;
    border-radius: $card-border-radius;

    &:last-child {
      margin-right: 0;
    }

  }

  &__turn-over-card-wrapper {
    width: $card-width;
    height: $card-height;
    background-color: white;
    border: 1px solid black;
    border-radius: $card-border-radius;
    display: inline-block;
    margin: 10px;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }
  }

  &__turn-over-card {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}