.game {
  width: 100%;
  position: relative;
  background-size: cover;
  overflow: hidden;
  padding: $common-padding*3 0;
  height: 100%;

  &--dinner {
    background-image: url("../images/dinner.jpeg");
  }

  &--breakfast {
    background-image: url("../images/breakfast1.jpeg");
  }

  &--dessert {
    background-image: url("../images/desserts.jpeg");
  }

  &__board {
    position: relative;
    top: 50%;
    left: 0;
    margin: $common-padding*3 auto 0 auto;
    max-width: 1300px;
    text-align: center;
  }

  &__board-bg {
    background-color: rgba(255, 255, 255, 0.52);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &__card {
    width: $card-width;
    height: $card-height;
    display: inline-block;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;

    &:last-child {
      margin-right: 0;
    }

  }

  &__turn-over-card-wrapper {
    width: $card-width;
    height: $card-height;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    background-color: white;


    &:last-child {
      margin-right: 0;
    }
  }

  &__turn-over-card {
    width: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}