.recipes-list {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  position: relative;

  &__wrapper {
    width: 100%;
    padding: $common-padding 0;
    background-color: white;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
      box-shadow: inset 0 0 0 5px white;
    }
  }

  &__title {
    display: inline-block;
    text-transform: uppercase;
    margin-right: $common-padding;
  }

  &__counter {
    display: inline-block;
    font: {
      size: 33px;
      family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      weight: bold;
    };
  }

  &__content {
    position: absolute;
    left: 0;
    list-style-type: none;
    z-index: 1;
    text-transform: uppercase;
    width: 100%;
    box-shadow: inset 0 0 0 5px white;
    border-top: 5px solid white;
    padding: $common-padding 0;
    background-color: black;
    color: white;
    font: {
      size: 25px;
    }
  }

  &__recipe {
    cursor: pointer;
    margin: 0 auto;
    padding: $common-padding/2;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}